.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 50px auto 0;
    max-width: 1170px;
    padding: 0 20px;
}


.aboutText {
    line-height: 2;
}


.aboutText h2 {
    font-size: clamp(35px, 5vw, 50px);
}


.aboutText p {
    margin: 20px 0;
    font-size: 15px;
    max-width: 500px;
}


.aboutImg {
    width: 50%;
}


.aboutImg img {
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}



/* RECORD SECTION */

.aboutRecord {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    max-width: 1170px;
    margin: 50px auto;
    padding: 0 20px;
}


.icon {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
    height: 30px;
    width: 30px;
}


.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(194,194,194);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 20px 0;
}


.subRecord {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
    border: 1px solid black;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}


.subRecord:hover {
    border: 1px solid #DB4444;
    background-color: #DB4444;
    color: white;
    transition: 0.6s ease;
    cursor: pointer;
    transform: translateY(-5px);
}



/* FOUNDERS */

.founders {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    max-width: 1170px;
    margin: 50px auto;
    padding: 0 20px;
}


.foundersInfo h2 {
    font-size: 35px;
    font-weight: 500;
}


.foundersHandle {
    display: flex;
    font-size: 20px;
    gap: 10px;
}


.foundersImg {
    border: 1px solid rgb(238,238,238);
    background-color: rgb(238,238,238);
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
}


.foundersImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/* TABLET */

@media(max-width:1000px){

    .about {
        flex-direction: column;
        text-align: center;
    }


    .aboutImg {
        width: 80%;
    }


    .aboutRecord {
        grid-template-columns: repeat(2,1fr);
    }


    .founders {
        grid-template-columns: repeat(2,1fr);
    }

}



/* MOBILE */

@media(max-width:600px){

    .about {
        gap: 30px;
    }


    .aboutText p {
        font-size: 14px;
    }


    .aboutImg {
        width: 100%;
    }


    .aboutRecord {
        grid-template-columns: 1fr;
    }


    .subRecord {
        height: 180px;
    }


    .founders {
        grid-template-columns: 1fr;
    }


    .foundersInfo h2 {
        font-size: 28px;
    }


    .foundersImg {
        height: 350px;
    }

}