.contactGrid {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
    gap: 20px;
    max-width: 1170px;
    margin: 50px auto;
    padding: 0 20px;
}


.contactInfo,
.message {
    background-color: white;
    box-shadow: 0px 2px 5px rgb(189,189,189);
    min-height: 400px;
    padding: 30px;
    border-radius: 5px;
}


.contactInfo {
    display: flex;
    flex-direction: column;
    line-height: 2.4;
}


.contactInfo p {
    font-size: 13px;
}


.iconWrap {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 600;
    padding: 5px 0;
}


hr {
    margin: 20px 0;
}


.icon {
    color: white;
    background-color: #DB4444;
    padding: 10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.message input::placeholder,
textarea::placeholder {
    color: grey;
    font-size: 15px;
}


/* INPUTS */

.inputWrap {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding-bottom: 30px;
}


.inputWrap input {
    padding: 10px;
    width: 100%;
    background-color: rgb(243,241,241);
    border: none;
    outline: none;
    border-radius: 3px;
}


.message textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    background-color: rgb(243,241,241);
    border: none;
    outline: none;
    border-radius: 3px;
    resize: none;
}


.message button {
    display: block;
    margin: 30px 0 0 auto;
    background-color: #DB4444;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 3px;
    width: 150px;
    cursor: pointer;
}



/* TABLET */

@media(max-width:900px){

    .contactGrid {
        grid-template-columns: 1fr;
    }


    .inputWrap {
        grid-template-columns: 1fr 1fr;
    }

}



/* MOBILE */

@media(max-width:600px){

    .contactGrid {
        padding: 0 15px;
    }


    .contactInfo,
    .message {
        padding: 20px;
        min-height: auto;
    }


    .inputWrap {
        grid-template-columns: 1fr;
    }


    .message textarea {
        height: 150px;
    }


    .message button {
        width: 100%;
    }

}